.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
}

#raw {
    width: 80vw;
    height: 20vh;
    resize: none;
}

#generated {
    width: 80vw;
    max-height: 30vh;
    overflow-y: auto;
    margin-top: 6vh;
    word-break: break-word;
}

.vaporwave {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.slack {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

.button {
    border: solid;
    border-width: 1px;
    padding: 2px 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer; 
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6vh;
}

.spacer {
    width: 6vw;
}

.grayed {
    color: gray;
    border-color: gray;
}
